<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="nav_bar">
            <div class="index">
                <a href="/" class="link"> Главная</a>
            </div>
            <div class="clients">
                <a href="/clients" class="link"> Клиенты</a>
            </div>
            <div class="store">
                <a href="/store"  class="link"> Торговые точки</a>
            </div>
             <div class="rent">
                <a href="/rent" class="link"> Аренда</a>
            </div>

        </div>

        </div>
    <button class="btn"> <a href="/insert" class="insert1"> Добавить</a> </button>
  </div>
</body>
</html>