<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <meta charset="UTF-8">
    <title>Rent</title>

</head>
<body>

<div class="container">
    <div class="navigation">
        <div class="nav_bar">
            <div class="index">
                <a href="/" class="link"> Главная</a>
            </div>
            <div class="clients">
                <a href="/clients" class="link"> Клиенты</a>
            </div>
            <div class="store">
                <a href="/store"  class="link"> Торговые точки</a>
            </div>
             <div class="rent">
                <a href="/rent" class="link"> Аренда</a>
            </div>


        </div>
    </div>
    <div class="namespace">
    {% for i in rent_value %}
    <div class="id">
        {{i}}
    </div>
    <div class="client_id">
        {{rent_value[i].Client_ID}}
    </div>
    <div class="store_id">
        {{rent_value[i].Store_ID}}
    </div>
    <div class="start">
        {{rent_value[i].start}}
    </div>
    <div class="enddate">
        {{rent_value[i].end}}
    </div>


    {% endfor %}
        </div>
</div>





</body>
</html>